// .p-sidebar p-component .p-sidebar-header {
//   padding: 0 0 0 0;
// }

.p-sidebar .p-sidebar-header {
  display: none;
}

.p-sidebar {
  background-image: linear-gradient(
    to right top,
    #2d6678,
    #2e6a7d,
    #2e6d81,
    #2f7186,
    #2f758b,
    #2a768f,
    #247694,
    #1f7798,
    #12759c,
    #0473a0,
    #0070a4,
    #026da7
  );
}
